{:src ["src"]
 :deps {ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        compojure/compojure {:mvn/version "1.7.1"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        cheshire/cheshire {:mvn/version "5.12.0"}
        babashka/process {:mvn/version "0.5.22"}
        babashka/fs {:mvn/version "0.5.20"}
        org.clojure/data.codec {:mvn/version "0.1.1"}}}
